#conteiner {text-align: center;
            width: auto;
            }
.primo {text-align: center;
        width: auto;
         }
 h5 {text-align: center;
     border-top: 1px solid green;
    padding-top: 1%;
    background-color: rgba(127, 255, 176, 0.158);}
p {text-align: left;
   padding-left: 25%;}  
img {border-radius: 5%;
    padding: 4px;
     background-color: rgba(169, 169, 169, 0.363);}  
.secondo {text-align: center;
          padding: 0%;
          margin: 0%;
          padding-top: 10px;
         color: gray;}
.terzo { width: 1024px;
         margin-left: 500px;
         color: orangered;;
         border-left: 1px solid rgb(183, 196, 6);
        padding: 0% 0 0 10px ;
        }
a {color: rgb(9, 136, 136);} 
#conteiner2 {padding-right: 45%;
             margin: 5% 0%;}
.bordo1     {border-bottom: 1px solid rgba(37, 185, 204, 0.384);
             margin-left: 500px;
             text-align: left;
             padding-bottom: 1%;
             width: 600px;}             
ul          {
             width: 1024px;}             
li          {margin-left: 475px;
            margin-top: 2%;
            padding-top: 1%;
            text-align: left;
             width:600px ;} 
 .bordo4 {border-bottom: 1px solid rgba(37, 185, 204, 0.384);
          margin-left: 500px;
          text-align: left;
          padding-bottom: 1%;
          width: 600px;}                     
.bordo2 {padding-right: 48%;
         border-bottom: 1px solid rgba(37, 185, 204, 0.384);
         margin-left: 230px;
         padding-bottom: 1%;}
.bordo3 li {margin-right: 1000px;} 
.bordo5 {padding-left: 33%;}  
footer,p{padding-left: 17%;}      